html{
font-size:100%;
}
body{
font-size:15px;
margin:0px;
line-height:7;
color:#222;
}
#context{
max-width: 900px;
margin:0px auto 50px;
padding-right: 20px;
padding-left: 20px;
}
#contact {
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}
section {
    width: 100%;
    float: left;
    margin-top: 25px;
    padding: 0px;
    display:block;
}
aside {
    float: left;
    width: 15%;
    color: #888;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
    padding: 0px;
    line-height: 15px;
    display:block;
} 
article {
    float: right;
    width: 85%;
    margin-bottom: 10px;
    display:block;
}
#contact ul li {
    float: left;
    margin-right: 12%;
    font-size: 1em;
    padding: 0px;
    text-align: center;
    list-style-type: none;
    display: block;
    margin: 0px
}
#contact a {
    color: #000;
    font-weight: 500;
    padding: 5px;
}
a {
    color: #E49E17;
    text-decoration: none;
    line-height: 0.7em;
    transition: color 0.2s linear 0s;
    font-size: 1em;
    font-weight: 500;
}
.date {
    float: right;
    padding: 0px;
}
.date {
    color: #888;
    margin-right: 20px;
    font-size: 0.8em;
    padding-top: 20px;
}

