#mug_shot{
height:30%;
width:30%;
}
hr{
height:2px ;
background-color:white;
}
body {
    background-image: url("forest.jpg");
}
#photo{
margin-left:60%;
}
#information{
margin-right:100px;
margin-left:60%;
}
#name{
color:white;
}
#self-intro{
color:white;
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
}
