#mug_shot{
height:10%;
width:10%;
}
hr{
margin-left:10px;
width:20%;
}
body {
    background-image: url("forest.jpg");
}
#photo{
margin-left:60%;
}
#information{
margin-right:100px;
margin-left:60%;
}


