#mug_shot{
height:30%;
width:30%;
}
hr{
height:2px ;
background-color:white;
}
body {
    background-size:cover;
    background-image: url("forest.jpg");
}
#photo{
margin-left:60%;
}
#information{
width: 50%;
margin: 0 auto !important;
}
#name{
color:white;
}
#self-intro{
color:white;
}
.inner-info{
    width:50%;
    margin-right:0;
}
.inner-info,.material-icons{
vertical-align:top;
}
.info-li{
vertical-align:top;
display: inline-block;
vertical-align: top;
padding-top: 5px;
padding-left: 8px;
}
h1{
margin-top:0px;
margin-bottom:0px;
}
#contact>div{
display:inline-block;
color:white;
font-size:25px;
}
